<section style="border: 0px; box-sizing: border-box; width: 100%; clear: both; overflow: hidden; padding: 0px;" data-width="100%">
	<section class="layout" style="box-sizing: border-box; width: 50%; float: left; padding: 0px 0.1em 0px 0px;" data-width="50%">​
		<img src="<%= img %>" style="box-sizing: border-box; margin: 0px; height: auto !important; visibility: visible !important; width: 100% !important;" width="100%" height="auto" border="0" opacity="" mapurl="" title="" alt="" data-width="100%">
	</section>
	<section class="135brush layout" data-style="margin-right: 0.5px;color: rgb(52, 54, 60);font-family:微软雅黑,microsoft yahei; font-size:14px;" style="display: inline-block; 		width: 50%;float: left; padding: 0px 0px 0px 1.0em;" data-width="50%"><p style="margin-right: 0.5px;color: rgb(52, 54, 60);font-family:微软雅黑,microsoft yahei; font-size:14px;"><%= title %></p>
	</section>
</section>