<!-- main frame -->
<div style="position: fixed;left: 0;top: 37px;height: 100%;">
	<div class="bgb" style="height: 100%;">
		<a class="db w1 ml10 mr10 b1 tc  mb15" href="/manager/account">
			<img src="../images/p1_1_1.png" class="di avatar br1 mt15" />
			<div class="fs12 colorw pt5 pb5">用户139...211</div>
		</a>
		<a class="db w1 ml10 mr10 b1 tc  mb15" href="/mdprod">
			<img src="../images/p1_2_1.png" class="di mt15" />
			<div class="fs12 colorw pt5 pb5">编辑器</div>
		</a>
		<a class="db w1 ml10 mr10 b1 tc  mb15" href="/manager/account">
			<img src="../images/p1_2_2.png" class="di mt15" />
			<div class="fs12 colorw pt5 pb5">账户设置</div>
		</a>
		<a class="db w1 ml10 mr10 b1 tc  mb15" href="/manager/article">
			<img src="../images/p1_2_3.png" class="di mt15" />
			<div class="fs12 colorw pt5 pb5">文章同步</div>
		</a>
		<a class="db w1 ml10 mr10 b1 tc  mb15" href="/manager/gzh">
			<img src="../images/p1_2_4.png" class="di mt15" />
			<div class="fs12 colorw pt5 pb5">公众号管理</div>
		</a>
	</div>
</div>
