<!DOCTYPE html>
<html>
<head>
<title>多维编辑器管理后台-用户信息</title>
<link rel="stylesheet" type="text/css" href="/css/manager.css" />
</head>
<body style="height:100%">
<% include frame/header.ejs %>
<% include frame/siderbar.ejs %>
<div style="height:100%">
	<div class="tc bgb2 w2" style="    height: 100%;">
		<div class="di bgw b2 br2" style="margin-top: 67px;margin-left: 100px;">
			<div class="mg30">
				<div id="gzh_list">
					<a class="db b3 fs0 pt10 pb10">
						<img src="../images/p1_3_1.jpg" width="80" height="80" class="di vm" />
						<div class="di vm w3 pl15 fs14 colorb tl">
							<div class="pb3">公众号：IF</div>
							<div class="colorg">微信：if_fashion888</div>
						</div>
						<div class="di vm w3 pl15 fs14 colorb tl">
							<div class="pb3">授权时间：<span class="colorg">2016-05-25 13:20</span></div>
							<div class="">状态：<span class="colorg">有效</span></div>
						</div>
						<div class="di vm pl15 pr10 fs12 colorg tc">
							<div class="di line mb10"></div>
							<div class="">取消授权</div>
						</div>
					</a>
				</div>
				<div>
					<a class="db b3 fs0 pt10 pb10">
						<a href="auth"><div class="addLabel">+</div></a>
					</a>	
				</div>
			</div>
		</div>
	</div>
</div>
<script data-main="/js/manager/config.js" src="/bower_components/requirejs/require.js">
</script>

<script>
require(['/js/manager/gzh.js'], function(initialize) {
    initialize();
});
</script>
</body>
</html>