<!DOCTYPE html>
<html>
<head>
<title>多维编辑器管理后台-用户信息</title>
<link rel="stylesheet" type="text/css" href="/css/manager.css" />
</head>
<body style="height:100%">
<% include frame/header.ejs %>
<% include frame/siderbar.ejs %>
<div style="height:100%">
	<div class="tc bgb2 w2">
		<div class="di fs0 mt30" style="margin-top: 67px;margin-left: 100px;">
			<div class="di vt">
				<div class="bgg pd20 b2 mb20">
					<a class="db pd10 fs0 b2 bbn">
						<img src="../images/p1_5.jpg" width="80" height="80" class="di vm">
						<div class="di vm w3 fs14 colorb pl10">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
						<div class="fr fs20 colorg">×</div>
					</a>
					<a class="db pd10 fs0 b2 bbn">
						<img src="../images/p1_5.jpg" width="40" height="40" class="di vm">
						<div class="di vm w5 fs14 colorb pl10">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
						<div class="fr fs20 colorg">×</div>
					</a>
					<a class="db pd10 fs0 b2">
						<img src="../images/p1_5.jpg" width="40" height="40" class="di vm">
						<div class="di vm w5 fs14 colorb pl10">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
						<div class="fr fs20 colorg">×</div>
					</a>
					<a class="db pd10 fs20 colorb b2">+</a>
				</div>
				<a class="di bgy1 w3 pt10 pb10  fs14 colorw mb20">选择公众号</a>
				
				<a class="db bgg pd10 fs0 b2 mb20 tl">
					<img src="../images/p1_5.jpg" width="80" height="80" class="di vm">
					<div class="di vm w3 fs14 colorb pl10">
						<div class="fs16">公众号：杭州城市体检</div>
						<div class="pt5 pb5">发送时间<input type="text" class="di dInput1 ml10" placeholder="2016-05-26 10:20" /></div>
						<div class="di b2 pd3_5 colorg">编辑文章细节</div>
					</div>
					<div class="fr fs20 colorg">×</div>
				</a>
				<a class="db bgg pd10 fs0 b2 mb20 tl">
					<img src="../images/p1_5.jpg" width="80" height="80" class="di vm">
					<div class="di vm w3 fs14 colorb pl10">
						<div class="fs16">公众号：杭州城市体检</div>
						<div class="pt5 pb5">发送时间<input type="text" class="di dInput1 ml10" placeholder="2016-05-26 10:20" /></div>
						<div class="di b2 pd3_5 colorg">编辑文章细节</div>
					</div>
					<div class="fr fs20 colorg">×</div>
				</a>
				<a class="db bgg pd10 fs20 colorb b2 mb20 tc h88">+</a>
				<a class="di bgy1 w3 pt10 pb10  fs14 colorw mb20">开始同步</a>

			</div>
			<div class="di vt b2 w4 ml20">
				<div class="b3 pt20 pb20 fs0">
					<img src="../images/p1_9.jpg" class="di vm" />
					<div class="di vm pl15 pr15">
						<div class="fs16 colorb pb5">顶尖文案TOPYS</div>
						<div class="fs16 colorb ">2016-05-26 10:00</div>
					</div>
					<div class="di vm"><a class="pd3_5 br2 b2 fs16 colorg">修改</a></div>
				</div>
				<div class="b3 pt20 pb20 fs20 colorb">+</div>
				<div class="b3 h583 "></div>
			</div>
		</div>
		</div>
	</div>
</div>
<div class="bgw bs" style="display:none;">	
	<div class="fl triangle ml_10"></div>
	<div class="fs20 colorg tc pt20">选择要发送的文章</div>
	<div class="fs0 pd20 b3">
		<input type="text" name="name" class="di vm sInput w9">
		<div class="di vm ml20"><a class="di fs14 colorg pd5 b2 br2">搜索</a></div>
	</div>
	<div class="h583 o_y">
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
		<div class="db ml20 mr20 b3 fs0 tl pt20 pb20">
			<img src="images/p1_5.jpg" class="di vm" width="50" height="50" />
			<div class="di vm fs14 colorg w5 ml20 mr20">你知道这些大号为了每一个阅读数付出多少成本吗？</div>
			<div class="di vm"><a class="di fs14 colorg pd5 b2 br2">选择</a></div>
		</div>
	</div>
	
</div>
<script data-main="/js/manager/config.js" src="/bower_components/requirejs/require.js">
</script>

<script>
require(['/js/manager/syncarticle.js'], function(initialize) {
    initialize();
});
</script>
</body>
</html>